/.idea/
/ordering_service/.gradle/
/ordering_service/gradle/
/ordering_service/gradlew
/ordering_service/gradlew.bat
/user_service/.gradle/
/user_service/gradle/
/user_service/gradlew
/user_service/gradlew.bat
/cooking_service/gradlew
/cooking_service/gradlew.bat
